body {
  --l: 3.5em;
}

.main-container {
  overflow: hidden;
}

#intro_modal .modal-dialog, #finish_modal .modal-dialog {
  max-width: calc(100% - 20px);
  margin: 10px;
}

#intro_modal .modal-content, #finish_modal .modal-content {
  height: calc(100vh - 20px);
}

.split-mode {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  border-radius: 0.2rem;
}

.split-mode label.btn.focus, .split-mode label.btn:focus, .split-mode label.btn.active, .split-mode label.btn:active {
  box-shadow: none;
}

.floating-bar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  height: 80px;
  top: 10px;
  left: 10px;
  right: 10px;
  padding: 15px;
  margin-left: 0;
  margin-right: 0;
  background-color: #eeeeeeee;
  border-radius: 5px;
  z-index: 20;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.floating-bar.single-player {
  max-width: 280px;
}

.floating-bar.single-player .main-player {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 120px;
}

.floating-bar.multi-player {
  max-width: 360px;
  height: 100px;
}

.floating-bar.multi-player .main-player, .floating-bar.multi-player .assistant-player {
  max-width: 80px;
  width: 80px;
  text-align: center;
}

.floating-bar.multi-player .username {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  margin-top: 3px;
}

.floating-bar .player {
  display: flex;
  justify-content: center;
}

.floating-bar .avatar {
  height: 50px;
}

.floating-bar .player-separator {
  width: 1px;
  background-color: rgb(0, 0, 0, 0.5);
  margin: 0 5px;
}

.floating-bar .assistant-player {
  position: relative;
}

.floating-bar .assistant-player .number-badge {
  position: absolute;
  top: 0;
  left: 5px;
  background-color: red;
  color: white;
  font-weight: 600;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 50%;
}

.floating-bar .assistant-player .progress {
  position: absolute;
  width: 60px;
  height: 5px;
  transform: translateX(-50%);
  left: 50%;
  top: 50px;
  background-color: grey;
}

.floating-bar .action {
  display: flex;
  border-radius: 5px;
  background-color: lavender;
}

.floating-bar.single-player .action {
  padding: 5px;
}

.floating-bar.multi-player .action {
  padding: 15px;
}

.floating-bar .btn-group label.btn.action-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  max-width: 40px;
  min-width: 40px;
  margin: 0px 10px;
  font-size: 28px;
  background-color: yellowgreen;
  cursor: pointer;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 0;
  border: none;
}

.floating-bar .btn-group label.btn.action-button.selected {
  background-color: cornflowerblue;
}

.floating-bar .btn-group label.btn.action-button.focus, .floating-bar .btn-group label.btn.action-button:focus, .floating-bar .btn-group label.btn.action-button.active, .floating-bar .btn-group label.btn.action-button:active {
  box-shadow: none;
}

.record-panel {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 10px;
  height: 56px;
  width: 240px;
  border-radius: 28px;
  padding: 0 0 0 24px;
  z-index: 10;
  background-color: rgba(0,0,0,0.75);
  color: white;
  justify-content: space-between;
}

.record-panel .record {
  max-width: 159px;
  width: calc(100% - 80px);
  padding: 4px 0;
}

.record-panel .record-item {
  width: max-content;
  font-size: 15px;
  text-overflow: clip;
}

.record-panel .finish-button {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
}

.record-panel .finish-button.focus, .record-panel .finish-button:focus,.record-panel .finish-button.active, .record-panel .finish-button:active {
  box-shadow: none;
}

.triggerButton { display: none; }

.triggerButton + label {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: tomato;
  height: var(--l);
  width: var(--l);
  border-radius: 50%;
  z-index: 11;
  margin-bottom: 0;
}

.trigger-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
}

.triggerButton:checked + label { transform: rotatez(-90deg); }

.one, .two, .three, .four {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0.5em 0.4em 0.5em 0.6em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  opacity: 0;
  z-index: 10;
  transform: rotateZ(90deg);
  font-size: 1em;
  color: #fff;
  transition-property: all;
  transition-duration: .35s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.triggerButton:checked ~ .one, .triggerButton:checked ~ .two, .triggerButton:checked ~ .three, .triggerButton:checked ~ .four { opacity: 1; }

.triggerButton:checked ~ .one {
  background-color: purple;
  transform: translateX(-5em);
  transition-delay: .3s;
}

.triggerButton:checked ~ .two {
  background-color: blueviolet;
  transform: translateX(-4.5em) translateY(-2.6em);
  transition-delay: .2s;
}

.triggerButton:checked ~ .three {
  background-color: mediumorchid;
  transform: translateX(-2.6em) translateY(-4.5em);
  transition-delay: .1s;
}

.triggerButton:checked ~ .four {
  background-color: slateblue;
  transform: translateY(-5em);
}

.triggerButton:checked ~ .disabled {
  background-color: lightgray;
}

.triggerButton:checked ~.one:hover, .triggerButton:checked ~ .two:hover, .triggerButton:checked ~ .three:hover, .triggerButton:checked ~ .four:hover { opacity: .9; }

.ai-tip-slider-container {
  position: absolute;
  display: none;
  width: 240px;
  height: 140px;
  background: white;
  left: 10px;
  top: 75px;
  z-index: 20;
  box-shadow: 0px 1px 11px black;
  padding: 5px;
  border-radius: 3px;
}

#ai_tip_slider{
  margin-left: 18px;
  margin-top: -30px;
  transform: rotate(90deg);
  transform-origin: left;
  position: relative;
  top: -20%;
}

.slider {
	-webkit-appearance: none;
	width: 100px;
	height: 5px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;

}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

.tip-list-wrapper {
  overflow: hidden;
}

.tip-list-wrapper ul{
  padding-inline-start: 20px;
  padding: 5px 0 5px 25px;
}

.tip-list-wrapper ul li{
  text-align: left;
}

#up {
  margin-left: 7px;
}

#down {
  margin-left: 7px;
}

@media screen and (max-width: 560px) {
  .split-mode {
    top: 120px;
    left: 10px;
    right: auto;
  }
}

@media screen and (max-width: 380px) {
  .floating-bar.multi-player {
    display: block;
    width: calc(100% - 20px);
    height: 160px;
  }

  .floating-bar.multi-player .player {
    width: 100%;
  }

  .floating-bar.multi-player .action {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    justify-content: space-evenly;
  }

  .floating-bar.multi-player .main-player, .floating-bar.multi-player .assistant-player {
    max-width: calc(50% - 21px);
    width: 100%;
  }

  .split-mode {
    top: 180px;
    left: 10px;
    right: 10px;
  }

  .record-panel {
    width: calc(100% - 20px);
  }

  .triggerButton + label {
    bottom: 76px;
  }

  .one, .two, .three, .four {
    bottom: 76px;
  }

  .ai-tip-slider-container {
    right: 0;
    left: auto;
  }
}

@media screen and (max-width: 300px) {
  .floating-bar.single-player {
    display: block;
    width: calc(100% - 20px);
    height: 140px;
  }

  .floating-bar.single-player .main-player {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
  }

  .floating-bar.single-player .player {
    width: 100%;
  }

  .floating-bar.single-player .action {
    width: 100%;
    margin-top: 15px;
    justify-content: space-evenly;
  }
}